<!DOCTYPE html>
<html >
  <head>
    <title>Thank You</title>
  </head>
  <body style="background-image:linear-gradient(90deg,#4CA1AF, #C4E0E5);">
    <h1 style="text-align:center;font-size:50px">
      Thank You <%= contactme.FirstName %> <%= contactme.LastName %>
    </h1>
      <h1 style="text-align:center;font-size:30px">
        Your Form has been submitted
      </h1>
      <h1 style="text-align:center;font-size:30px">
        We will contact you at <%= contactme.Email %>
      </h1>
  </body>
</html>
